header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width:699px) {
    #desktop-links {
        display: none;
    }
}

@media screen and (min-width:700px) {
    #hamburger-menu {
        display: none;
    }
}

.hero-img {
    max-width: 300px;
}

.is-long {
    padding-bottom: 14rem;
}

.overlaps-top {
    margin-top: -14rem;
}