header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width:699px) {
    #desktop-links {
        display: none;
    }
}

@media screen and (min-width:700px) {
    #hamburger-menu {
        display: none;
    }
}

.hero-img {
    max-width: 300px;
}

.is-long {
    padding-bottom: 14rem;
}

.overlaps-top {
    margin-top: -14rem;
}


/* Social media icons */

.btn.btn-social-icon {
    width: 50px;
    height: 50px;
    padding: 0
}

.template-demo>.btn {
    margin-right: 0.5rem !important
}

.template-demo {
    margin-top: 0.5rem !important
}

.btn.btn-rounded {
    border-radius: 50px
}

.btn-outline-linkedin {
    border: 1px solid #0177b5;
    color: #0177b5
}

.btn-outline-linkedin:hover {
    background: #0177b5;
    color: #ffffff
}

.btn-linkedin {
    background: #0177b5;
    color: #ffffff
}

.btn-linkedin:hover,
.btn-linkedin:focus {
    background: #015682;
    color: #ffffff
}